app:
  key: "base64:replace-with-laravel-app-key"
  dbHost: "your-rds-endpoint.us-east-2.rds.amazonaws.com"
  dbPort: "3306"
  dbName: "laravel"
  dbUser: "root"
  dbPassword: "replace-with-db-password"
  mysqlAttrSslCa: "/etc/mysql/certs/rds-global-bundle.pem"
